{% extends "layout.html" %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-sm-6'>

      <h2>All Categories</h2>
      <!-- This button moves to the /categories path  -->
      <form class='well' action='/' method='POST'>
        <div class='form-group'>
          <input class='form-control' name='name' placeholder='add a category...'/>
        </div>
        <button class='btn btn-primary'><span class='glyphicon glyphicon-save'></span>Save</button>
      </form>
      <!-- This is where an unordered list containing the categories goes  -->

      <ul class='list-group'> {% for category in categories %}
        <li class='list-group-item'>
          <!-- This is where individual categories with delete buttons go  -->
          <a href='/category/{{category.id}}'>
            {{category.name}}
          </a>
          <div class='pull-right'>
            <form style='display:inline' action='/{{category.id}}?_method=DELETE' method='POST'>
              <button class='btn btn-warning'>
                <span class='glyphicon glyphicon-trash'></span>
                Delete
              </button>
            </form>
          </div>
          <br clear='all' />
        </li>        {% endfor %}
      </ul>
    </div>


    <div class='col-sm-6'>
      <h3>Data:</h3>
      <pre>
      <!-- This is where a representation of the categories and products goes -->
      [      {% for category in categories %}
        {
          "id": {{category.id}},
          "name": {{category.name}},
          "products": [  {% for product in category.products %}
            {
              "id": {{product.id}},
              "name": {{product.name}}
            }  {% endfor %}
          ]
        }      {% endfor %}
      ]
      </pre>
    </div>

  </div>
</div>

{% endblock %}
